:root {
    font-size: 16px;
    background-color: var(--main-color);
    font-family: Roboto;
    --main-color: #0f56b4;
    --secondary-color: #8bb9ff;
    --tirt-color: #64b6ac;
    --font-color: white;
    --grey: #A3A3A3;
}

@font-face {
    font-family: Roboto;
    src: url(Assets/Roboto-Regular.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    min-width: 90%;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: var(--secondary-color);
    border-radius: 3px;
    border:none;
    padding: 10px;
    cursor: pointer;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

form {
    text-align: center;
    padding-right: 40px;
}

input {
    border-radius: 3px;
    border: 1px solid white;
    width: 70%;
    padding: 10px;
}

.searchContainer > p {
    padding: 10px;
}

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.primaryCard {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(139,185,255,0.51);
-moz-box-shadow: 0px 0px 10px 2px rgba(139,185,255,0.51);
box-shadow: 0px 0px 10px 2px rgba(139,185,255,0.51);
    color: white;
    border-radius: 10px;
}

.location {
    font-size: 25px;
}

.current_temp {
    font-size: 40px;
    font-weight: bold;
}

.highLow {
    font: 35px;
    color: var(--secondary-color);
}

.cardContent {
    padding: 0 100px 0 0;
}

.imageBlock {
    text-align: center;
}

.condition_text {
 font-size: 40px;
 font-weight: bold;
}

.date, .time {
    font-size: 20px;
    color: var(--secondary-color);
}

.threeDayCard {
    display: flex;
    padding: 20px;
    margin: 0 50px;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(139,185,255,0.51);
    -moz-box-shadow: 0px 0px 10px 2px rgba(139,185,255,0.51);
    box-shadow: 0px 0px 10px 2px rgba(139,185,255,0.51);
    border-radius: 10px;
}

.weekday {
    font-size: 25px;
}

.forecastTemp {
    font-size: 15px;
    color: var(--secondary-color);
}

.cardOne,
.cardTwo,
.cardThree {
    padding: 0 25px;
    text-align: center;
}

@media screen and (max-width: 650px) {
       h3 {
        display: none;
        justify-content: center;
       }
    
        .primaryCard {
            flex-direction: column;
        }

        .cardContent {
            padding: 0;
            text-align: center;
        }

        .threeDayCard {
            flex-direction: column;
        }
}